@charset "utf-8";
/* CSS Document */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Karla', sans-serif;
}
/* mobile ----------- */
@media only screen and (max-width: 600px) {
    main {
        padding: 30px 20px;
        max-width: 100%;
    }
    main h2 {
        color: hsl(179, 62%, 43%);
        margin-bottom: 20px;
        font-size: 18px;
    }
    main h3 {
        color: hsl(71, 73%, 54%);
        font-size: 16px;
        margin-bottom: 20px;
    }
    main p {
        color: hsl(218, 22%, 67%);
        font-size: 14px;
        line-height: 180%;
    }
    article {
        color: hsl(240, 14%, 99%);
        padding: 30px 20px;
        max-width: 100%;
    }
    article div p:first-of-type {
        font-size: 2rem;
        font-weight: 700;
    }
    button {
        background-color: hsl(71, 73%, 54%);
        color: hsl(240, 14%, 99%);
        padding: 15px 105px;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        font-family: 'Karla', sans-serif;
        box-shadow: 2px 2px 10px 2px hsla(219, 22%, 47%, 0.79);
        margin-top: 20px;
    }
    aside {
        max-width: 100%;
        color: hsl(240, 14%, 99%);
        padding: 30px 20px;
    }
    aside p {
        font-size: 12px;
        line-height: 140%;
        margin-top: 20px;
    }
    .all {
        width: 100vw;
        padding: 100px 0;
    }
    .wrapper {
        max-width: 300px;
        height: auto;
        margin: 0 auto;
        box-shadow: 3px 3px 15px 2px hsla(219, 22%, 67%, 0.61);
        border-radius: 5px;
        overflow: hidden;
    }
    .flex {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin: 10px 0;
    }
    .bg_white {
        background-color: hsl(240, 14%, 99%);
    }
    .bg_lgray {
        background-color: hsl(204, 43%, 93%);
    }
    .bg_cyan {
        background-color: hsl(179, 62%, 43%);
    }
    .bg_lcyan {
        background-color: hsl(179, 47%, 52%);
    }
    .attribution {
        font-size: 11px;
        text-align: center;
        margin-top: 100px;
    }
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}
/* desktop ----------- */
@media only screen and (min-width: 601px) {
    main {
        padding: 30px 20px;
        max-width: 600px;
        grid-area: main;
    }
    main h2 {
        color: hsl(179, 62%, 43%);
        margin-bottom: 20px;
        font-size: 18px;
    }
    main h3 {
        color: hsl(71, 73%, 54%);
        font-size: 16px;
        margin-bottom: 20px;
    }
    main p {
        color: hsl(218, 22%, 67%);
        font-size: 14px;
        line-height: 180%;
    }
    article {
        color: hsl(240, 14%, 99%);
        padding: 30px 20px;
        width: 300px;
        grid-area: article;
    }
    article div p:first-of-type {
        font-size: 2rem;
        font-weight: 700;
    }
    button {
        background-color: hsl(71, 73%, 54%);
        color: hsl(240, 14%, 99%);
        padding: 15px 105px;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        font-family: 'Karla', sans-serif;
        box-shadow: 2px 2px 10px 2px hsla(219, 22%, 47%, 0.79);
        margin-top: 20px;
    }
    aside {
        width: 300px;
        color: hsl(240, 14%, 99%);
        padding: 30px 20px;
        grid-area: aside;
    }
    aside p {
        font-size: 12px;
        line-height: 140%;
        margin-top: 20px;
    }
    .all {
        width: 100vw;
        height: 100vh;
        padding: 100px 0;
    }
    .wrapper {
        max-width: 600px;
        height: auto;
        margin: 0 auto;
        box-shadow: 3px 3px 15px 2px hsla(219, 22%, 67%, 0.61);
        border-radius: 5px;
        overflow: hidden;
    }
    .grid {
        display: grid;
        grid-template-areas: "main     main"
            "article aside";
    }
    .flex {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin: 10px 0;
    }
    .bg_white {
        background-color: hsl(240, 14%, 99%);
    }
    .bg_lgray {
        background-color: hsl(204, 43%, 93%);
    }
    .bg_cyan {
        background-color: hsl(179, 62%, 43%);
    }
    .bg_lcyan {
        background-color: hsl(179, 47%, 52%);
    }
    .attribution {
        font-size: 11px;
        text-align: center;
        margin-top: 100px;
    }
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}